{% spaceless %}
    <img id='aviary_image'/>
    <div id="aviary_ajax_loader">
        <img src="{{ asset('bundles/unifikmedia/backend/images/icons/ajax-loader.gif') }}">
    </div>
    <input type="hidden" id="aviary_path">

    <div id='injection_site'></div>
{% endspaceless %}