{% spaceless %}

    <h4 class="subtitle">
        "{{ media.name }}" {% trans %}associated contents{% endtrans %} :
    </h4>

    <div id="association_controls">
        <button class="btn btn-primary btn-xs select mr10">{% trans %}Select all{% endtrans %}</button>
        <button class="btn btn-primary btn-xs unselect mr10">{% trans %}Unselect all{% endtrans %}</button>
        <button class="btn btn-primary btn-xs replace mr10">{% trans %}Replace{% endtrans %}</button>
        <button class="btn btn-primary btn-xs unlink">{% trans %}Unlink{% endtrans %}</button>
    </div>

    {% if associatedContents|length > 0 %}
        <div id="association_nav">
            <div id="association_tree"></div>
        </div>

    {% endif %}
{% endspaceless %}