{% spaceless %}
    <img id='aviary_image'/>
    <img id="aviary_ajax_loader" src="{{ asset('bundles/egzaktmedia/backend/images/ajax-loader.gif') }}">
    <p><input id="edit-aviary" type='image' src='http://images.aviary.com/images/edit-photo.png' value='Edit photo' /></p>
    <input type="hidden" id="aviary_path">

    <div id='injection_site'></div>
{% endspaceless %}