{% spaceless %}

    <h2 class="association">
        "{{ media.name }}" {% trans %}associated contents{% endtrans %} :
    </h2>

    {% if associatedContents|length > 0 %}
        <div id="association_nav">



            <div id="association_tree"></div>
        </div>

    {% endif %}
{% endspaceless %}