{% spaceless %}
    <img id='aviary_image'/>
    <img id="aviary_ajax_loader" src="{{ asset('bundles/flexymedia/backend/images/icons/ajax-loader.gif') }}">
    <input type="hidden" id="aviary_path">

    <div id='injection_site'></div>
{% endspaceless %}