{% extends 'EgzaktSystemBundle:Backend:layout.html.twig' %}

{% block locale_bar %}
{% endblock %}

{% block content %}

    <h1>{% trans %}Medias{% endtrans %}</h1>

    {% block content_main '' %}

{% endblock %}