{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/egzaktmedia/backend/css/media.css') }}" />
{% endblock %}

{% block content %}

    <h1>{% trans %}Medias{% endtrans %}</h1>

    {% block content_main '' %}

{% endblock %}