<div id="list_actions_bar">
    <a class="add" href="{{ path('egzakt_media_backend_media_create') }}">{% trans %}Add a Media{% endtrans %}</a>
    <a class="add" href="{{ path('egzakt_media_backend_media', {type: 'image'}) }}">{% trans %}Image list{% endtrans %}</a>
    <a class="add" href="{{ path('egzakt_media_backend_media', {type: 'video'}) }}">{% trans %}Video list{% endtrans %}</a>
</div>