<div id="list_actions_bar">
    <ul>
        <a class="add" href="{{ path('egzakt_media_backend_media_create') }}">{% trans %}Add medias{% endtrans %}</a>
    </ul>
    <ul>
        <li><a href="{{ path('egzakt_media_backend_image') }}">{% trans %}Images{% endtrans %}</a></li>
        <li><a href="{{ path('egzakt_media_backend_video') }}">{% trans %}Videos{% endtrans %}</a></li>
        <li><a href="{{ path('egzakt_media_backend_media') }}">{% trans %}Others{% endtrans %}</a></li>
    </ul>
</div>