<tr>
    <th></th>
    <td>
        <img id='image' src='{{ asset(media.mediaPath|imagine_filter('media_thumb_editor')) }}' />
        <img id="aviary-ajax-loader" src="{{ asset('bundles/egzaktmedia/backend/images/ajax-loader.gif') }}">
        <p><input class="edit-aviary" type='image' src='http://images.aviary.com/images/edit-photo.png' value='Edit photo' onclick="return launchEditor('image', '{{ asset(media.mediaPath) }}');" /></p>
    </td>
</tr>

<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
<script type='text/javascript'>
    var featherEditor = new Aviary.Feather({
        apiKey: 'i3kui99ayvje8cix',
        apiVersion: 2,
        maxSize: 800, // Output image size (default 800x800 px)
        displayImageSize: true,
        tools: 'draw,text,enhance,frames,effects,stickers,crop,resize,warmth,orientation,brightness,focus,warmth,contrast,saturation,sharpness,splash,whiten,redeye,blemish',
        appendTo: '',
        onSave: function(imageID, newURL) {
            $('#aviary-ajax-loader').show();
            var img = $('#'+imageID);
            $.get('{{ url(media.routeBackend('aviary_edit'), media.routeBackendParams) }}', {
                image: newURL
            }, function(data){
                img.fadeOut();
                img.attr('src', img.attr('src')+"?"+new Date().getTime());
                $('#aviary-ajax-loader').hide();
                img.fadeIn();
            });
        },
        onError: function(errorObj) {
            alert(errorObj.message);
        }
    });
    function launchEditor(id, src) {
        featherEditor.launch({
            image: id
        });
        return false;
    }
</script>

<div id='injection_site'></div>