/* PLUPLOAD */

.plupload .plupload_header_content{
    color: #0073ea;
}

#uploader_filelist .plupload_file_name a{
    color: #0073ea;
}

#uploader_filelist .plupload_file_name a:hover{
    text-decoration: underline;
}

.plupload_filelist_footer td.plupload_file_name{
    width: 100%;
}

/* AVIARY */

#aviary_ajax_loader {
    display: none;
    float: left;
    position: relative;
    left: 55px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.4
}

/* MEDIA_SELECT FORM FIELD */

#welcome-message {
    text-align: center;
}

.media_button {
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    margin: 2px;
}

.media_button.green {
    border: 2px solid #39b54a;
    background-color: #39b54a;
}

.media_button.blue {
    border: 2px solid #2882E6;
    background-color: #2882E6;
}

.media{
    display: inline-block;
    margin: 10px;
    border: 5px solid #fff;
}

.media-image img {
    margin-bottom: -4px;
}

.media-selected{
    border: 5px solid green;
}

#media-list{
    height: 60%;
    overflow: auto;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

#media-details{
    float: right;
    width: 290px;
    min-height: 300px;
    display: inline-block;
    border: 1px solid #000000;
}

#media-details-inner{
    padding: 10px 20px;
    display: none;
}

/* GENERAL */

#video-list li{
    display: none;
}

#list_actions_bar ul{
    margin-bottom: 5px;
}

#list_actions_bar ul li, #media-filters li{
    display: inline-block;
}

#refresh_media {
    float: right;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    margin: 2px;
    border: 2px solid #2882E6;
    background-color: #2882E6;
}

.bulk_actions {
    margin: 0 0 20px 0;
}

/* MEDIA CENTER TABS */

#media-tabs ul {
    height: 30px;
}

#upload-tab {
    background: #39b54a;
}

#upload-tab:hover,
#upload-tab.ui-state-active {
    background: #0073ea;
}

#upload-tab a {
    color: #FFFFFF;
}

/* IMAGE TAB */
#association_list ul {
    list-style: disc;
}
