/* MEDIA_SELECT FORM FIELD */

#media_select_modal_container,
#media_notice_modal_container,
#media_edit_modal_container,
#media_delete_modal_container,
#media_search_modal_container {
    display: none;
}

.ui-dialog.media_select {
    margin: 40px;
    min-width: 80%;
    background: #e5e5e5;
}

.ui-dialog.media_select .ui-widget-header {
    background: none;
    border: none;
    height: 20px;
}

.ui-dialog.media_select .ui-widget-header span {
    font-size: 20px;
    height: 20px;
    line-height: 22px;
}

#media_notice_modal {
    padding: 20px;
    font-weight: 700;
    font-size: 14px;
}

#media_edit_modal {
    padding: 20px;
    text-align: center;
}

#media_edit_modal input {
    border: 2px solid #333;
    height: 20px;
    width: 250px;
    padding: 2px;
}

#media_search_modal {
    padding-top: 20px;
}

#media_delete_modal {
    padding: 20px;
    overflow-y: scroll;
}

#media_delete_modal ul li {
    list-style: square;
    margin-left: 15px;
}

/* MEDIA SELECT GENERAL */

#mediaManager {
    /*padding: 10px;
    background-color: #FFFFFF;
    height: 540px;*/
}

#media_wrapper {
    padding: 20px 0 0;
}

a:focus {
    outline: none;
}

#media_ajax_loader {
	background-color:#fff;
	bottom:0;
	left:0;
    position:absolute;
	right:0;
	top:0;
    z-index: 900;
}

#media_ajax_loader img {
	left:50%;
	margin:-16px 0 0 -16px;
	position:absolute;
	top:50%;
}

#media_container {
	overflow:hidden;
    width: 100%;
}

#media_container div.frame {
    padding: 10px;
}

.col {
	float:left;
}

#media_left_col {
	width:20%;
}

#media_mid_col {
	width:50%;
}

#media_right_col {
	width:30%;
}

.col .indent {
	margin:0 10px;
	position:relative;
	z-index:10;
}

#media_left_col .indent {
	margin-left:0;
}

#media_mid_col .indent {
	background-color:#fff;
	min-height:52px;
}

#media_right_col .indent {
	margin-right:0;
}

.col .bg {
	padding: 12px 10px;
	background-color: #fff;
	min-height:32px;
	position:relative;
}
#media_mid_col .bg,
#media_right_col .bg {
	padding: 5px 5px 10px 5px;
}

#media_right_col .bg {
	padding-bottom:5px;
}


#media_mid_col .scroll {
	max-height:385px;
	overflow-y:auto;
	padding:5px;
}

#media_views {
	padding: 12px 10px;
	background-color: #fff;
}

#media_views a {
	background-position:8px 5px;
	background-repeat:no-repeat;
	display: inline-block;
	height: 16px;
	padding: 4px 8px 0 23px;
	border-radius: 2px;
	position: relative;
	color: #fff;
	font-size: 0.92em;
	line-height: 1.1em;
	text-decoration: none;
}

#media_views a.upload {
	background-color: #39b54a;
	background-image: url(/bundles/unifiksystem/backend/images/icons/add.gif);
}

#media_views a.upload:hover,
#media_views a.upload.selected {
	background-color: #61c46e;
	color: #fff;
}

#media_views a.library {
	background-color: #2882E6;
	background-image: url(/bundles/unifikmedia/backend/images/icons/text.gif);
	background-position: 8px -95px;
}

#media_views a.library:hover,
#media_views a.library.selected {
	background-color: #539beb;
	background-position: 8px -145px;
}

#list_actions_bar ul li {
    display: inline-block;
}

/* FILTERS */
#media_filters {
	font-size: 0.917em;
	line-height: 1.2em;
	margin-top:20px;
	overflow:hidden;
	padding: 6px 10px 6px 0;
	background-color: #fff;
	vertical-align: middle;
}

#media_filters .filter {
	float: left;
	padding: 4px 10px;
	border-right: 1px solid #E6E6E6;
}

#media_filters li {
    display: inline-block;
    margin: 0 2%;
}

#media_filters input[type="text"] {
	margin:0;
    padding: 0;
    height: 19px;
    width: 100%;
    border: 2px solid #cdcdcd;
}

#media_filters div.filter1 {
    float:left;
    width: 10%;
}

#media_filters div.filter2 {
    float:left;
    width: 80%;
}

#media_type_filters {
    display: inline-block;
	margin-right:0;
}

#media_date_filters {
    display: inline-block;
}

#media_filters .ui-state-disabled {
    opacity: 0.5;
}

#media_filters .ui-buttonset .ui-button {
	margin:0;
}

#media_filters .ui-button .ui-button-text {
	line-height: 1.2em;
	margin:0;
}

#media_filters .ui-state-default,
#media_filters .ui-widget-content .ui-state-default,
#media_filters .ui-widget-header .ui-state-default {
	background:none;
	border:0;
	border-radius: 2px;
	color: #000;
	display:inline-block;
	font-size: 1em;
	line-height: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:400;
	padding: 4px 8px 4px 8px;
}

#media_filters .ui-state-default:hover,
#media_filters .ui-widget-content .ui-state-default:hover,
#media_filters .ui-widget-header .ui-state-default:hover {
	color:#2882E6;
}

#media_date_filters .ui-state-default:hover,
#media_date_filters .ui-widget-content .ui-state-default:hover,
#media_date_filters .ui-widget-header .ui-state-default:hover {
	color:#464646;
}

#media_filters .ui-button-text-only .ui-button-text {
	display: inline-block;
	padding:0;
	position: relative;
	text-decoration: none;
}

#media_filters .ui-state-active,
#media_filters .ui-widget-content .ui-state-active,
#media_filters .ui-widget-header .ui-state-active {
	background-color:#2882E6;
	color:#fff !important;
}

#media_date_filters .ui-state-active,
#media_date_filters .ui-widget-content .ui-state-active,
#media_date_filters .ui-widget-header .ui-state-active {
	background-color:#464646;
	color:#fff !important;
}

/* PAGINATION */

#pager_wrapper {
    text-align: center;
    padding: 10px;
}

#pager_wrapper div {
    display: inline-block;
}
/* NAV DIV */

#folder_nav {
	position:relative;
}

#folder_nav .dynatree-container {
    overflow-x: auto;
}

#folder_nav ul.dynatree-container {
    border: none;
}

/* LIST DIV */

#media_list {
    padding: 0;
}

#media_list h2 {
	margin-bottom:1em;
}

#media_list .item_wrapper {
    width: 100%;
}

#media_list #edit_form {
	background-color:#e5e5e5;
}

#media_list .edit_wrapper {
    margin-bottom:5px;
}

#media_list .edit_wrapper #fields_box {
	margin:0;
	padding:0 5px 10px;
}

#media_list .edit_wrapper #fields_box .fields {
	border-bottom: 1px solid #B3B3B3;
}

#media_list .item_wrapper th,
#media_list .item_wrapper td,
#media_list .edit_wrapper #fields_box .fields th,
#media_list .edit_wrapper #fields_box .fields td {
	border-top: 1px solid #B3B3B3;
}

#media_list .item_wrapper tr:first-child th,
#media_list .item_wrapper tr:first-child td{
	border-top:0;
}

#media_list .item_wrapper tr:last-child th,
#media_list .item_wrapper tr:last-child td {
	border-bottom:0;
}

#uploader_wrapper .fields,
#uploader_wrapper th,
#uploader_wrapper td {
	border:0;
}

#media_list .edit_wrapper input.save {
    display: inline-block;
    float: right;
    border:0;
    background-color: #39b54a;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
    color: #FFFFFF;
	cursor:pointer;
	font-size: 1em;
	line-height: 1.2em;
	outline:none;
	padding: 3px 8px 5px 8px;
    border-radius: 3px;
}

#media_list .edit_wrapper input.save:hover {
	background-color: #61c46e;
}

#media_list .edit_wrapper input.save:focus,
#media_list .edit_wrapper input.save:active {
	background-color: #61c46e;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	outline:none;
	padding: 3px 8px 5px 8px;
}

#media_list .item_wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.media td {
    vertical-align: top;
	padding: 6px 10px 9px 0;
    background-color: #FFFFFF;
    border-bottom: 1px dotted #D7D7D7;
    word-break: break-all;
}

.media td.image {
	padding-left: 8px;
    width: 80px;
}

.media td.image img {
    margin-bottom: -4px;
}

.media td.detail h3 {
    margin: 0;
}

.media td.detail p {
    margin: 0;
    padding: 10px 0;
    color: #D7D7D7;
    text-transform: uppercase;
}

.media td.detail p.format {
    margin: 0;
    padding: 0;
    color: #D7D7D7;
}

.media td.date {
    text-align: right;
    width: 75px;
}

.media td.date p {
    margin: 0;
}

.media td.date p.size {
    padding: 10px 0;
    color: #D7D7D7;
}

.media.media_selected td {
    background-color: #E8F3FF;

}

#media_list h1.empty_folder {
    text-align: center;
    padding: 90px 0;
    color: #D7D7D7;
}

#media_list #association_nav {
    overflow-y: scroll;
    height: 348px;
}

#media_list #association_nav ul.dynatree-container {
    border: none;
}

#media_list #association_nav span.entity span.dynatree-title {
    font-weight: 700;
}

#media_list #association_nav span.field span.dynatree-title {
    font-weight: 700;
    font-size: 0.875em;
}

#media_list h2.association {
    margin: 10px;
    word-break: break-all;
}

span.dynatree-title {
    padding: 0 10px;
}

#media_list #association_nav a:hover {
    text-decoration: underline;
}

#association_controls {
    margin: 5px;
}

#association_controls button.unselect {
    display: none;
}

/* DETAILS DIV */

#media_details {
	position:relative;
}

#media_details_inner {
    display: none;
    padding:0 0 32px;
}

#media_details_inner .bg {
	margin:0 0 5px;
}

#media_details_inner h2.name {
	margin-bottom:1em;
	text-align:center;
	word-break: break-all;
}

#media_details img {
	display:block;
	margin:0 auto;
    max-width: 100%;
    max-height: 250px;
}

#media_details iframe {
	display:block;
	margin:0 auto;
	max-width: 100%;
	max-height: 250px;
}

#media_details img.aviary {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    margin: 0;
}

.media_button.green {
    background-color: #39b54a;
	float:right;
}

.media_button.green:hover {
	background-color: #61c46e;
}

.media_button.blue {
    background-color: #2882E6;
	float:right;
}

.media_button.blue:hover {
	background-color: #539beb;
}

#welcome_message {
    text-align: center;
}

#selection_count {
    text-align: center;
}

.media_button {
    display: inline-block;
    color: #fff;
	font-size: 0.92em;
	line-height: 1.2em;
    border-radius: 3px;
    cursor: pointer;
	padding: 4px 8px 4px 8px;
}

.media_button {
    position: relative;
}

.media_button.red {
    border: 2px solid red;
    background-color: red;
}

.select_media {
    cursor: pointer;
}

#file_caption {
    margin: 20px 0 0 0;
}

/* UPLOAD */

#uploader_wrapper {
    display: none;
}

div.add_embed {
    margin: 20px 0;
	position:relative;
}

div.add_embed .bg,
#fileupload .bg{
	background-color:#fff;
	margin:0 0 5px;
	padding:5px;
	position:relative;
}

#embed_ajax_loader {
	background-color:#fff;
	bottom:0;
	display:none;
	left:0;
    position:absolute;
	right:0;
	top:0;
	z-index:20;
}

#embed_ajax_loader img {
	left:50%;
	margin:-16px 0 0 -16px;
	position:absolute;
	top:50%;
}

#video_url {
	border: 1px solid #888;
	vertical-align: middle;
	position: relative;
	padding: 3px;
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #333;
	width:500px;
}

#add_embed_link {
	display: inline-block;
	float: right;
	border:0;
	background-color: #39b54a;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color: #FFFFFF;
	cursor:pointer;
	font-size: 0.92em;
	line-height: 1.2em;
	outline:none;
	padding: 4px 8px 4px 8px;
	border-radius: 3px;
	text-decoration:none;
}

#invalid_embed_url {
    padding: 10px 0 0;
    color: #ff0000;
	display:block;
    font-size: 1.2em;
}

#valid_embed_url {
    padding: 10px 0 0;
    color: #008000;
	display:block;
    font-size: 1.2em;
}

.fileupload-progress {
	margin:10px 0;
}

#upload_body {
    overflow-y: scroll;
    max-height: 400px;
}

#upload_body table {
	border: 0;
	width: 100%;
	border-collapse: collapse;
}

#upload_body table th {
	padding: 6px 20px 6px 3px;
	font-size: 1.167em;
	line-height: 1.3em;
	text-align: left;
	border-top: 1px solid #B3B3B3;
	vertical-align: top;
	white-space: nowrap;
}

#upload_body tr:last-child td {
	border-bottom: 0;
}

#upload_body td {
	padding: 5px 0;
	border-bottom: 1px solid #B3B3B3;
}

#upload_body tr:first-child th
#upload_body tr:first-child td {
	border-top:0;
}

/* AVIARY */

#aviary_ajax_loader {
	background:#fff;
	bottom:0;
    display: none;
	left:0;
    position:absolute;
	right:0;
	top:0;
	z-index:10;
}

#aviary_ajax_loader img {
	left:50%;
	margin:-16px 0 0 -16px;
	position:absolute;
	top:50%;
}

/* CONTEXT MENU ITEM */

.context-menu-item.disabled {
    opacity: 0.4;
}

/* DRAGGABLE */

#draggingContainer {
    width: 100% !important;
}

/* CLEARABLE */

.divclearable {
    border: 1px solid #888;
	padding-left:5px;
    padding-right:23px;
    vertical-align:middle;
	position:relative;
}

a.clearlink {
    background: url("../images/icons/close-button.png") no-repeat scroll 0 0 transparent;
    background-position: center center;
    cursor: pointer;
    height: 12px;
    width: 12px;
    z-index: 2000;
    border: 0px solid;
    position: absolute;
	right: 4px;
    top: 4px;
}