/* MEDIA_SELECT FORM FIELD */

#media_select_modal_container,
#media_notice_modal_container,
#media_edit_modal_container,
#media_delete_modal_container {
    display: none;
}

.ui-dialog.media_select {
    margin: 40px;
    min-width: 80%;
}

.ui-dialog.media_select .ui-widget-header {
    background: none;
    border: none;
    height: 20px;
}

.ui-dialog.media_select .ui-widget-header span {
    font-size: 20px;
    height: 20px;
    line-height: 22px;
}

#media_notice_modal {
    padding: 20px;
    font-weight: 700;
    font-size: 14px;
}

#media_edit_modal {
    padding: 20px;
    text-align: center;
}

#media_edit_modal input {
    border: 2px solid #333;
    height: 20px;
    width: 250px;
    padding: 2px;
}

#media_delete_modal {
    padding: 20px;
    overflow-y: scroll;
}

#media_delete_modal ul li {
    list-style: square;
    margin-left: 15px;
}

/* MEDIA SELECT GENERAL */

a:focus {
    outline: none;
}

#media_ajax_loader {
    position: absolute;
    left: 43%;
    z-index: 900;
}

#media_container {
    margin: 10px 0 0 0;
    min-width: 100%;
}

#media_container div.frame {
    padding: 10px;
}

#media_views li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    margin: 5px;
    border: 2px solid #2882E6;
    background-color: #2882E6;
}

#media_views li a.upload {
    border: 2px solid #39b54a;
    background-color: #39b54a;
}

#list_actions_bar ul li, #media_views li{
    display: inline-block;
}

/* FILTERS */

#media_filters li {
    display: inline-block;
    margin: 0 10px;
}

#media_filters input[type="text"] {
    padding: 0 5px;
    height: 18px;
    width: 235px;
    border: 2px solid #cdcdcd;
}

/* PAGINATION */

#pager_wrapper {
    text-align: center;
    padding: 10px;
}

#pager_wrapper div {
    display: inline-block;
}
/* NAV DIV */

#folder_nav {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#folder_nav .dynatree-container {
    height: 450px;
    overflow-x: auto;
}

#folder_nav ul.dynatree-container {
    border: none;
}

/* LIST DIV */

#media_list {
    display: inline-block;
    width: 50%;
    height: 450px;
    box-shadow: 0px 0px 12px #333;
    padding: 0;
}

#media_list .item_wrapper {
    overflow-y: scroll;
    width: 100%;
    height: 400px;
}

#media_list .item_wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.media td {
    vertical-align: top;
    padding: 5px 10px;
}

.media td.image {
    width: 80px;
}

.media td.image img {
    margin-bottom: -4px;
}

.media td.detail h3 {
    margin: 0;
}

.media td.detail p {
    margin: 0;
    padding: 10px 0;
    color: #D7D7D7;
    text-transform: uppercase;
}

.media td.detail p.format {
    margin: 0;
    padding: 0;
    color: #D7D7D7;
}

.media td.date {
    text-align: right;
}

.media td.date p {
    margin: 0;
}

.media td.date p.size {
    padding: 10px 0;
    color: #D7D7D7;
}

.media.media_selected td {
    background-color: #E8F3FF;
    border-top: 1px dotted #757575;
    border-bottom: 1px dotted #757575;
}

/* DETAILS DIV */

#media_details {
    display: inline-block;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

#media_details_inner {
    display: none;
    padding: 0px 40px;
    overflow-y: scroll;
    height: 450px;
}

#media_details img {
    max-width: 100%;
    max-height: 250px;
}

#media_details img.aviary {
    display: none;
    position: absolute;
    max-height: 100%;
}

.media_button.green {
    border: 2px solid #39b54a;
    background-color: #39b54a;
}

.media_button.blue {
    border: 2px solid #2882E6;
    background-color: #2882E6;
}

#welcome_message {
    text-align: center;
}

#selection_count {
    display: none;
    text-align: center;
}

.media_button {
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
}

.media_button {
    position: relative;
    top: 16px;
    left: -10px;
}

.media_button.red {
    border: 2px solid red;
    background-color: red;
}

.select_media {
    cursor: pointer;
}

#file_caption {
    margin: 20px 0 0 0;
}

/* UPLOAD */

#uploader_wrapper {
    display: none;
}

div.add_embed {
    margin: 20px 0;
}

#embed_ajax_loader {
    width: 20px;
    position: relative;
    top: 6px;
}

#video_url {
    height: 20px;
    width: 500px;
}

#add_embed_link {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    margin: 2px;
    border: 2px solid #39b54a;
    background-color: #39b54a;
}

#invalid_embed_url {
    padding: 0 10px;
    color: #ff0000;
    font-size: 1.2em;
}

#valid_embed_url {
    padding: 0 10px;
    color: #008000;
    font-size: 1.2em;
}

/* AVIARY */

#aviary_ajax_loader {
    display: none;
    float: left;
    position: relative;
    left: 55px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.4
}

/* CONTEXT MENU ITEM */

.context-menu-item.disabled {
    opacity: 0.4;
}

/* DRAGGABLE */

#draggingContainer {
    width: 50% !important;
}