.plupload .plupload_header_content{
	color: #0073ea;
}

#uploader_filelist .plupload_file_name a{
	color: #0073ea;
}

#uploader_filelist .plupload_file_name a:hover{
	text-decoration: underline;
}

.plupload_filelist_footer td.plupload_file_name{
	width: 100%;
}

#video-list li{
	display: none;
}

#list_actions_bar ul{
    margin-bottom: 5px;
}

#list_actions_bar ul li{
    display: inline-block;
}