{% spaceless %}

    <div id="media_ajax_loader">
        <img  src="{{ asset('bundles/flexymedia/backend/images/icons/ajax-loader.gif') }}" />
    </div>

    <ul id="media_views">
        <li><a class="library">{% trans %}Library{% endtrans %}</a></li>
        <li><a class="upload">+ {% trans %}Upload a new file{% endtrans %}</a></li>
    </ul>

    {#{% if 'ckeditor' == view %}#}
        {#<li><a class="media_filter" data-media-type="image">{% trans %}Images{% endtrans %}</a></li>#}
        {#<li><a class="media_filter" data-media-type="video">{% trans %}Videos{% endtrans %}</a></li>#}
        {#<li><a class="media_filter" data-media-type="document">{% trans %}Documents{% endtrans %}</a></li>#}
        {#<li><a class="media_filter" data-media-type="embedvideo">{% trans %}Embed videos{% endtrans %}</a></li>#}
    {#{% endif %}#}

    <div id="media_wrapper">

        <div id="media_container">

            <div id="folder_nav">
                <div id="folder_tree"></div>
            </div>

            <div id="media_list">

                {% include 'FlexyMediaBundle:Backend/Media/MediaSelect/content:media_select_content.html.twig' %}

            </div>

            <div id="media_details">

                <h2 id="welcome_message">{% trans %}Please, select a file ...{% endtrans %}</h2>
                <div id="media_details_inner">
                    <input type="hidden" name="selected-id">
                    <h3></h3>
                    {% include 'FlexyMediaBundle:Backend/Media/MediaSelect/content:media_select_aviary.html.twig' %}
                    <div>
                        <a id="edit_media_link"><span class="media_button blue">{% trans %}Edit{% endtrans %}</span></a>
                    </div>
                    <a id="insert_media"><span class="media_button green">{% trans %}Insert{% endtrans %}</span></a>

                    <p id="file_size"><strong>{% trans %}File size{% endtrans %}: </strong> <span></span> {% trans %}kb{% endtrans %}</p>

                    <p id="image_format"><strong>{% trans %}Image format{% endtrans %}: </strong> <span></span> (px)</p>

                    <p id="file_caption"><strong>Caption: </strong><br><span></span></p>

                </div>
            </div>

        </div>

    </div>

    <div id="uploader_wrapper">
        {% include 'FlexyMediaBundle:Backend/Media/Media/tabs:upload_tab.html.twig' %}
    </div>

{% endspaceless %}