{% spaceless %}

    <ul class="filemanager-options">
        <li class="main">
            <a href="#" class="library selected"><i class="fa fa-file-text-o"></i> {% trans %}Library{% endtrans %}</a>
        </li>
        <li class="main">
            <a href="#" class="upload"><i class="fa fa-plus"></i> {% trans %}Upload a new file{% endtrans %}</a>
        </li>
        <li class="filter-type">
            {% trans %}Search{% endtrans %} :
            <input id="media_text_search" type="text" placeholder="{% trans %}Media name filter{% endtrans %}">
        </li>
        <li class="filter-type">
            {% trans %}Sort{% endtrans %} :
            <a href="#" data-type="newer" class="filter-date selected">{% trans %}Newer{% endtrans %}</a>
            <a href="#" class="filter-date" data-type="older">{% trans %}Older{% endtrans %}</a>
        </li>
        <li class="filter-type">
            {% trans %}Filter{% endtrans %} :
            <a href="#" data-type="any" class="filter-document-type selected{% if type not in ['any'] %} disabled{% endif %}">{% trans %}Any{% endtrans %}</a>
            <a href="#" data-type="image" class="filter-document-type{% if type not in ['any', 'image'] %} disabled{% endif %}">{% trans %}Images{% endtrans %}</a>
            <a href="#" data-type="document" class="filter-document-type{% if type not in ['any', 'document'] %} disabled{% endif %}">{% trans %}Documents{% endtrans %}</a>
            <a href="#" data-type="video" class="filter-document-type{% if type not in ['any', 'video'] %} disabled{% endif %}">{% trans %}Videos{% endtrans %}</a>
            <a href="#" data-type="embedvideo" class="filter-document-type{% if type not in ['any', 'embedvideo'] %} disabled{% endif %}">{% trans %}Embedded Videos{% endtrans %}</a>
        </li>
    </ul>

    <div id="media_wrapper">
        <div id="media_container">
            <div id="media_left_col" class="col">
                <div class="indent">
                    <div id="folder_nav" class="bg">
                        <div id="folder_tree"></div>
                    </div>
                </div>
            </div>

            <div id="media_mid_col" class="col">
                <div class="indent">
                    <div id="media_ajax_loader">
                        <img src="{{ asset('bundles/unifikmedia/backend/images/icons/ajax-loader.gif') }}" alt="" />
                    </div>
                    <div id="media_list">
                        {% include 'UnifikMediaBundle:Backend/Media/MediaSelect/content:media_select_content.html.twig' %}
                    </div>
                </div>
            </div>

            <div id="media_right_col" class="col">
                <div class="indent">
                    <div id="media_details">
                        <div class="bg">
                            <h2 id="welcome_message">{% trans %}Please select a file...{% endtrans %}</h2>
                        </div>
                        <div class="bg">
                            <h2 id="selection_count"><span>0</span> {% trans %}medias selected{% endtrans %}</h2>
                        </div>
                        <div id="media_details_inner">
                            <div class="bg">
                                <div id="aviary_ajax_loader">
                                    <img src="{{ asset('bundles/unifikmedia/backend/images/icons/ajax-loader.gif') }}">
                                </div>
                                <input type="hidden" name="selected-id">
                                <h2 class="name"></h2>
                                <div id="media_details_image">
                                    {% include 'UnifikMediaBundle:Backend/Media/MediaSelect/content:media_select_aviary.html.twig' %}
                                </div>
                                <div id="media_details_iframe">
                                    <iframe width="340" height="220" frameborder="0"  allowfullscreen></iframe>
                                </div>
                                <p id="file_caption"><strong>{% trans %}Caption{% endtrans %}: </strong><br><span></span></p>
                            </div>
                            <div class="form_actions_bar">
                                <a id="edit_media_link"><span class="media_button blue">{% trans %}Edit{% endtrans %}</span></a>
                                <a id="insert_media"><span class="media_button green">{% trans %}Insert{% endtrans %}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="uploader_wrapper">
        {% include 'UnifikMediaBundle:Backend/Media/MediaSelect/content:media_select_upload.html.twig' %}
    </div>

{% endspaceless %}