<form method="POST">
    <div class="list_box">

        <div class="bulk_actions">
            <select name="action">
                <option value="choose">{% trans %}Choose an action{% endtrans %} :</option>
                <option value="delete">{% trans %}Delete{% endtrans %}</option>
            </select>
            <input type="submit" value="Submit" class="submit_action">
        </div>

        <div id="document_container">
            {{ documentView|raw }}
        </div>

    </div>
</form>

<div id="pager_wrapper">
    <div id="document_pager">
    </div>
</div>