<form method="POST">
    <div class="list_box">

        <div class="add_embed">
            <h4 id="message"></h4>
            <input id="video_url" type="text" name="video_url">
            <a id="add_embed_link" href="#">{% trans %}Add</a>{% endtrans %}
            <img id="embed_ajax_loader" src="{{ asset('bundles/flexysystem/backend/images/icons/ajax-loader.gif') }}">
        </div>

        <div class="bulk_actions">
            <select name="action">
                <option value="choose">{% trans %}Choose an action{% endtrans %} :</option>
                <option value="delete">{% trans %}Delete{% endtrans %}</option>
            </select>
            <input type="submit" value="Submit" class="submit_action">
        </div>

        <div id="embed_video_container">
            {{ embedVideoView|raw }}
        </div>

    </div>
</form>

<div id="pager_wrapper">
    <div id="embed_video_pager">
    </div>
</div>

<script type="text/javascript">
    $(function(){

        $('#embed_ajax_loader').hide();

        $('#add_embed_link').on('click', function(e){

            $('#embed_ajax_loader').show();

            $.ajax({
                method: 'POST',
                url: "{{ path('flexy_media_backend_embed_video_create') }}",
                data: {'video_url': $('#video_url').val() },
                dataType: "json",
                success: function(data){
                    if (data.error != undefined) {
                        $('#message').html(data.error.message);
                    } else {
                        $('#message').html(data.message);
                    }
                    $('#embed_ajax_loader').hide();
                },
                error: function(){
                    $('#ajax_loader').hide();
                    alert('{% trans %}An internal error occured{% endtrans %}');
                    $('#embed_ajax_loader').hide();
                }
            });

            e.preventDefault();
        });
    });
</script>