{% extends 'EgzaktAdBundle:Backend/Ad:layout.html.twig' %}

{% block content_hemediaer %}
    <h1>{% trans %}Add medias{% endtrans %}</h1>
{% endblock %}

{% block content_main  %}

    {% stylesheets
    '@EgzaktMediaBundle/Resources/public/backend/css/*'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <div>
        <form>
            <div id="uploader">


            </div>
        </form>

    </div>

    <script>
        $().ready((function() {
            $("#uploader").plupload({
                // General settings
                runtimes : 'gears,flash,silverlight,browserplus,html5',
                url : 'upload.php',
                max_file_size : '10mb',
                chunk_size : '1mb',
                unique_names : true,

                // Resize images on clientside if we can
                resize : {width : 320, height : 240, quality : 90},

                // Specify what files to browse for
                filters : [
                    {title : "Image files", extensions : "jpg,gif,png"},
                    {title : "Zip files", extensions : "zip"}
                ],

                // Flash settings
                flash_swf_url : '/plupload/js/plupload.flash.swf',

                // Silverlight settings
                silverlight_xap_url : '/plupload/js/plupload.silverlight.xap'
            });

            // Client side form validation
            $('form').submit(function(e) {
                var uploader = $('#uploader').plupload('getUploader');

                // Files in queue upload them first
                if (uploader.files.length > 0) {
                    // When all files are uploaded submit form
                    uploader.bind('StateChanged', function() {
                        if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                            $('form')[0].submit();
                        }
                    });

                    uploader.start();
                } else
                    alert('You must at least upload one file.');

                return false;
            });
        }));
    </script>

    {% javascripts
    '@EgzaktMediaBundle/Resources/public/backend/js/plupload/plupload.full.js'
        '@EgzaktMediaBundle/Resources/public/backend/js/plupload/jquery.ui.plupload/jquery.ui.plupload.js'
        '@EgzaktMediaBundle/Resources/public/backend/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
    {% endjavascripts %}
{% endblock %}