{% extends 'UnifikMediaBundle:Backend:layout.html.twig' %}

{% block content_header %}
    <h1>{% trans %}Medias Library{% endtrans %}</h1>
{% endblock %}

{% block content_main %}

    <div id="mediaManager"></div>

    <script type="text/javascript">

        $(function(){
            mediaManagerLoadLibrary();
        });

    </script>

{% endblock content_main %}