{% extends 'EgzaktMediaBundle:Backend:layout.html.twig' %}

{% block content_hemediaer %}
    <h1>{% trans %}Medias library{% endtrans %}</h1>
{% endblock %}

{% block content_header %}{% trans %}Medias library{% endtrans %}{% endblock %}

{% block content_main %}

    <div id="media-tabs">
        <ul>
            <li><a href="#media-tabs-1">{% trans %}Images{% endtrans %}</a></li>
            <li><a href="#media-tabs-2">{% trans %}Documents{% endtrans %}</a></li>
            <li><a href="#media-tabs-3">{% trans %}Videos{% endtrans %}</a></li>
            <li><a href="#media-tabs-4">{% trans %}Embed video{% endtrans %}</a></li>
            <li id="upload-tab"><a href="#media-tabs-5">+ {% trans %}Upload{% endtrans %}</a></li>
        </ul>
        <div id="media-tabs-1">
            {% include 'EgzaktMediaBundle:Backend/Media/Media/tabs:images_tab.html.twig' %}
        </div>
        <div id="media-tabs-2">
            {% include 'EgzaktMediaBundle:Backend/Media/Media/tabs:documents_tab.html.twig' %}
        </div>
        <div id="media-tabs-3">
            {% include 'EgzaktMediaBundle:Backend/Media/Media/tabs:videos_tab.html.twig' %}
        </div>
        <div id="media-tabs-4">
            {% include 'EgzaktMediaBundle:Backend/Media/Media/tabs:embed_videos_tab.html.twig' %}
        </div>
        <div id="media-tabs-5">
            {% include 'EgzaktMediaBundle:Backend/Media/Media/tabs:upload_tab.html.twig' %}
        </div>
    </div>

    <script type="text/javascript">

        $('#media-tabs').tabs();
        $().ready(function(){
            $('.image-thumbnail').fancybox();
            $('.fancy-video').fancybox({
                'type': 'iframe'
            });

            $('input.checkall').click( function () {
                $(this).closest('table').find(':checkbox').prop('checked', this.checked);
            });
        });

        $('input.submit_action').click(function(e){

            var select = $(this).closest('form').find('select');

            if (select.val() != 'choose' ) {
                var count = $(this).closest('form').find('tbody').find(':checked').length;

                $('#delete_dialog').html('{% trans %}You are about to remove{% endtrans %} ' + count + ' {% trans %}medias{% endtrans %}.');

                $('#delete_dialog').dialog({
                    modal: true,
                    title: "{% trans %}Delete confirmation{% endtrans %}",
                    buttons: {
                        "{% trans %}Delete{% endtrans %}": function() {
                            $(select).closest('form').submit();
                            $(this).dialog("close");
                        },
                        "{% trans %}Cancel{% endtrans %}": function() {
                            $(this).dialog("close");
                        }
                    }
                });
            } else {
                $('#delete_dialog').html('{% trans %}Yous must select an action{% endtrans %}.');

                $('#delete_dialog').dialog({
                    modal: true,
                    title: "{% trans %}Notice{% endtrans %}",
                    buttons: {
                        "{% trans %}Ok{% endtrans %}": function() {
                            $(this).dialog("close");
                        }
                    }
                });
            }

            e.preventDefault();

        });

    </script>

{% endblock content_main %}

