<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('flexy_media_backend_media') }}"><img src="{{ asset('bundles/flexysystem/backend/images/icons/users.gif') }}" width="13" height="12" alt="" />{% trans %}Medias{% endtrans %}</a>
</li>
