<div>
    <div><span class="media_button red remove" {% if not media %}style="display: none;"{% endif %}>{% trans %}Remove file{% endtrans %}</span></div>
    <input class="input_media" type="hidden" {{ widget_attributes|raw }} {% if media %}value="{{ media.id }}"{% endif %} />
    <img class="image_media select_media" data-media-type="{{ type }}" data-media-placeholder-trans="{% trans %}Choose+a+file{% endtrans %}" src="{% if media %}{{ media.thumbnailUrl | imagine_filter('media_thumb_large') }}{% else %}http://placehold.it/200x150&text={% trans %}Choose+a+file{% endtrans %}{% endif %}">
</div>

<script type="text/javascript">
    $(function(){

        if ('undefined' === typeof unifikmediaselectscript){

            var loader = new DynamicLoader();

            loader.addScript('unifikmediaselectscript', '/bundles/unifikmedia/backend/js/media_select_scripts.js');

            loader.load();
        }
    });
</script>