{% block media_select_widget %}
    <input class="input-media" type="hidden" {{ block('widget_attributes') }} {% if media %}value="{{ media.id }}"{% endif %} />
    <a class="select-media" data-media-type="{{ types | json_encode() }}">
        <img class="image-media" src="{% if media %}{{ media.thumbnailUrl | imagine_filter('media_thumb') }}{% endif %}">
        <span class="media_button blue">{% trans %}Select a media{% endtrans %}</span>
    </a>
    <a class="create-media"><span class="media_button green">{% trans %}Upload a new media{% endtrans %}</span></a>

    <script>
        $().ready(function(){
            if('undefined' == typeof egzaktMediaScript) {
                var loader = new DynamicLoader();
                loader.addScript('egzaktmediascript', '/bundles/egzaktmedia/backend/js/media_select.js');
                loader.addScript('twigjsscript', '/bundles/egzaktsystem/backend/js/twig.js');
                loader.addStyle('egzaktmediastyle', '/bundles/egzaktmedia/backend/css/media.css');
                loader.load(function(){
                    $.mediaManager();
                });
            }
        });
    </script>
{% endblock %}